
.carousel img {
    max-height: 500px;
}

.card {
    margin: 24px;
}

#card1 {
    color: rgb(20, 226, 13);
}

#card2 {
    color: brown;
}

#card3 {
    color: rgb(10, 7, 241);
}

.card img {
    height: 427px;
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.3);
}

.card p {
    max-width: 80%;
}